@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    @apply bg-background text-foreground;
    /* Quan trọng: không có padding/margin mặc định */
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}